<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
	<h1>Timestamp Microservice</h1>
      <div class="boxed container">
         <h2>Description</h2>
         <p> The Timestamp Microservice accepts a date in unix time(milliseconds elapsed since ), or natural language 
	     then the Timestamp Microservice outputs the unix time and the natural language time regardless of input format.<br></p>
	 <h2>How To Use</h2>
	 <p>Append your input to the end of the current url, like so: https://rapid-horn.glitch.me/52222222223 <br>
	    or https://rapid-horn.glitch.me/august 28 1971<br>
	    This can either be done in your address bar or by using the http GET protocol.
	 <p>Example output: {"unix":12222222, "natural":"January 1, 1970"}</p>
	 
	
	 
      </div>
      <a href="https://github.com/rmweir/TimestampMicroservice">
            <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="Microservice Repo" height="50" width="50">
      </a> 
   </body>

</html>
